<!DOCTYPE html>
<html>
	<head>
		<title>Casino Registration</title>
		<!--<link type="text/css" rel="stylesheet" href="/stylesheets/casinostyle.css" />-->
	</head>
	
	<body>
		<div class="navigation"><a href=/ >RoboBartender Front Page</a></div>

		<form method="post" id="front">
			<span id="message">
				Please choose a username and a password.<br /><br />
				Username: <input type="text" name="username" value="{{ username }}" /><br /><div style="color:red">{{ e_user }}</div>
				Password: <input type="password" name="password" value="" /><br /><div style="color:red">{{ e_pass }}</div>
				Verify Password:<input type="password" name="verify" value="" /><br /><div style="color:red">{{ e_ver }}</div>
				Email:<input type="text" name="email" value="{{ email }}" /><br /><div style="color:red">{{ e_email }}</div>
				<input type="submit" value="Submit"/>
			</span>
		</form>
	</body>
</html>